$light: white;
$dark: black;

$c-bg: #000;
$c-txt: $light;
$c-disabled: gray;
$c-accent: #f00;

$blob1: #A26769;
$blob2: #6BAB90;
$blob3: #0FA3B1;

* {
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

body {
    scroll-snap-type: y mandatory;
    scrollbar-width: none;

    overflow-x: hidden;

    background: $c-bg;
    color: $c-txt;
    font-family: Jost, serif;

    padding: 0;
    margin: 0;
}

section {
    scroll-snap-align: start;
}


h1 {
    font-size: 6rem;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: 5rem;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: 2rem;
    margin: 0;
    color: $c-disabled;
}

.s1 {
    z-index: 1;

    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 5vw;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;

    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

#screen {
    z-index: -1;
    background: transparent;

    position: fixed;
    height: 100vh;
    width: 100vw;

    backdrop-filter: blur(100px);

    animation: screen-open 1.9s ease-in;
}

.blobs {
    z-index: 0;

    #blob1 {
        z-index: -2;
        filter: blur(100px);
        overflow: hidden;

        position: fixed;
        height: 20rem;
        width: 20rem;
        top: calc(50vh - 10rem);
        left: calc(50vw - 10rem - 30vw);
        background: $blob1;
        border-radius: 100%;

        animation: moveupdown infinite 2s ease-out 0ms;
    }

    #blob2 {
        z-index: -2;
        filter: blur(100px);
        overflow: hidden;

        position: fixed;
        height: 20rem;
        width: 20rem;
        top: calc(50vh - 10rem);
        left: calc(50vw - 10rem);
        background: $blob2;
        border-radius: 100%;

        animation: moveupdown infinite 2s ease-out 300ms;
    }

    #blob3 {
        z-index: -2;
        filter: blur(100px);
        overflow: hidden;

        position: fixed;
        height: 20rem;
        width: 20rem;
        top: calc(50vh - 10rem);
        left: calc(50vw - 10rem + 30vw);
        background: $blob3;
        border-radius: 100%;

        animation: moveupdown infinite 2s ease-out 600ms;
    }

}

.s2 {
    backdrop-filter: grayscale(100%) brightness(60%) contrast(90%);

    z-index: 1;

    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 5vw;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;

    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

/////////////////////////////////////////////////////

$blobmove: 20vh;

@keyframes moveupdown {
    from {
        transform: translate(0, -$blobmove);
    }

    50% {
        transform: translate(0, $blobmove);
    }

    to {
        transform: translate(0, -$blobmove);
    }
}

@keyframes movedownup {
    from {
        transform: translate(0, $blobmove);
    }

    50% {
        transform: translate(0, -$blobmove);
    }

    to {
        transform: translate(0, $blobmove);
    }
}

@keyframes screen-open {
    from {
        background: rgba(0, 0, 0, 1);
    }

    50% {
        background: rgba(0, 0, 0, 1);
    }

    to {
        background: rgba(0, 0, 0, 0);
    }
}