$light: white;
$dark: black;

$c-bg: #000;
$c-txt: $light;
$c-disabled: gray;
$c-accent: #f00;

* {
    box-sizing: border-box;
}

body {
    background: $c-bg;
    color: $c-txt;
    font-family: Jost, serif;

    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
}

h3 {
    margin: 0;
    color: $c-disabled;
}

.initial-window {
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding-left: 25vw;
}