* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

body {
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  overflow-x: hidden;
  background: #000;
  color: white;
  font-family: Jost, serif;
  padding: 0;
  margin: 0;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  margin: 0;
  animation: fadein1 0.5s ease;
}

h2 {
  font-size: 5rem;
  font-weight: 600;
  margin: 0;
  animation: fadein1 0.5s ease;
}

h3 {
  font-size: 2rem;
  margin: 0;
  color: gray;
  animation: fadein2 1s ease;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  color: gray;
}

p {
  border-left: solid gray 2px;
  padding-left: 3vw;
  font-size: 1.5rem;
}
p .accent {
  color: #0FA3B1;
}

.s1 {
  z-index: 1;
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 5vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
.s1 .bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#screen {
  z-index: -1;
  background: transparent;
  position: fixed;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(100px);
  animation: screen-open 1.9s ease-in;
}

.blobs {
  z-index: 0;
}
.blobs #blob1 {
  z-index: -2;
  filter: blur(100px);
  overflow: hidden;
  position: fixed;
  height: 20rem;
  width: 20rem;
  top: calc(50vh - 10rem);
  left: calc(50vw - 10rem - 30vw);
  background: #A26769;
  border-radius: 100%;
  animation: moveupdown infinite 2s ease-out 0ms;
}
.blobs #blob2 {
  z-index: -2;
  filter: blur(100px);
  overflow: hidden;
  position: fixed;
  height: 20rem;
  width: 20rem;
  top: calc(50vh - 10rem);
  left: calc(50vw - 10rem);
  background: #6BAB90;
  border-radius: 100%;
  animation: moveupdown infinite 2s ease-out 300ms;
}
.blobs #blob3 {
  z-index: -2;
  filter: blur(100px);
  overflow: hidden;
  position: fixed;
  height: 20rem;
  width: 20rem;
  top: calc(50vh - 10rem);
  left: calc(50vw - 10rem + 30vw);
  background: #0FA3B1;
  border-radius: 100%;
  animation: moveupdown infinite 2s ease-out 600ms;
}

.s2 {
  backdrop-filter: grayscale(100%) brightness(60%) contrast(90%);
  z-index: 1;
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 5vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
.s2 .bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.s3 {
  backdrop-filter: brightness(400%) contrast(170%);
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 5vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
.s3 .bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.s4 {
  backdrop-filter: sepia(70%);
  z-index: 1;
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 5vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
.s4 .bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@keyframes moveupdown {
  from {
    transform: translate(0, -20vh);
  }
  50% {
    transform: translate(0, 20vh);
  }
  to {
    transform: translate(0, -20vh);
  }
}
@keyframes movedownup {
  from {
    transform: translate(0, 20vh);
  }
  50% {
    transform: translate(0, -20vh);
  }
  to {
    transform: translate(0, 20vh);
  }
}
@keyframes screen-open {
  from {
    background: rgb(0, 0, 0);
  }
  50% {
    background: rgb(0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes fadein1 {
  from {
    filter: blur(10px);
    opacity: 0;
    translate: 0 5vh;
  }
}
@keyframes fadein2 {
  from {
    filter: blur(10px);
    opacity: 0;
    translate: 0 5vh;
  }
  50% {
    filter: blur(10px);
    opacity: 0;
    translate: 0 5vh;
  }
}

/*# sourceMappingURL=styles.css.map */
