$background-c: #022B3A;
$mbackground-c: #001d27;
$accent-c: #1F7A8C;
$bright: #BFDBF7;
$dark: #000;
$white: #fff;
$whiten: rgba(255, 255, 255, 0.13);
$darken: rgba(0, 0, 0, 0.13);

* {
    box-sizing: border-box;
    font-family: Outfit;
}

a {
    text-decoration: none;
    color: $white;
}

body {
    background-color: $background-c;
    color: $white;
}

.top {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 4rem;

    h1 {
        padding-top: 3rem;
        font-size: 4rem;
        position: fixed;
        z-index: -2;
    }
}

.main {
    margin-top: 14rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 4rem;

    background-color: $mbackground-c;
    border-radius: 4rem;

    outline: $white 2px solid;

    h2 {
        border-bottom: 2px solid $white;
    }

    li {
        list-style: none;
        font-weight: 500;
        font-size: 20px;
    }
}